doctype html
html(lang="en")
    body
        footer.py-4.bg-dark.mt-auto
            div.container-fluid
                div.d-flex.align-items-center.justify-content-between.small
                    div.text-muted.mr-auto
                        h4 Covid Stores
                    div.text-muted.ml-auto &copy; Mike Mwanje 2020