html
  body
    script(src="/js/script.js")
    script(src="/js/vendor/jquery-3.5.1.min.js")
    script(src="/js/vendor/scripts.js")
    script(src="/js/vendor/datatables-demo.js")
    script(src="/js/vendor/bootstrap.bundle.min.js")
    script(src="/js/vendor/jquery.dataTables.min.js")
    script(src="/js/vendor/dataTables.bootstrap4.min.js")
