extends ../layout.pug

block content
    .card.mb-4
        .card-header
            |    Sales Agent Registration

            .card-body
                #inner
                    div
                        form(method="POST" action="/manager/registerAgent")
                            fieldset
                                legend Credentials
                                .control
                                    label National ID
                                    input(type="text" placeholder="eg AAA1234567BBB" name="NIN" id="NIN" required)
                                .control
                                    label Employee ID
                                    input(type="text" placeholder="eg CS001" name="empid" required)
                                .control
                                    label Password
                                    input(type="password" placeholder="Agent Password" name="password" required)
                                .control
                                    label Role
                                    select(name="role")
                                        option Sales Agent
                                        option Manager
                                                
                            fieldset
                                legend Bio-data
                                .control
                                    label First name
                                    input#firstname(type="text" placeholder="First Name" name="fname" required)
                                .control
                                    label Last name
                                    input#lastname(type="text" placeholder="Last Name" name="lname" required)
                                .control
                                    label Date of Birth
                                    input#dob(type="date" name="dob" required)
                                .control
                                    label Gender
                                    input(list="gender" Placeholder="Gender" name="gender" required)
                                    datalist(id="gender")
                                        option
                                            | Male
                                        option
                                            | Female

                            p#error.errors
                            input#submit(type="submit" value="Register" onmouseover="purchase()")
                        