extends layout.pug

block content
    h2.section-header=page
    .shop-items
        each item in category
            .shop-item
                a(href="")
                    img.shop-item-image(src="../images/bike.jpg" )
                span.shop-item-title
                .shop-item-details
                    span.shop-item-price #{item.name}
                    span.shop-item-price #{item.price}