doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")        
        title Covid Stores
        link(rel="stylesheet" href="/css/style.css")
    body
        header.main-header
            nav.main-nav.nav
                h1.band-name
                    a(href="/") Covid Stores
                ul
                    li
                        a(href="/") Funiture
                    li
                        a(href="/") TV sets
                    li
                        a(href="/") Fitness Kits and Machinery
                    li
                        a(href="/") Home Theaters
        section.container.content-section
            h2.section-header All Categories
            .shop-items
                .shop-item
                    a(href="")
                        img.shop-item-image(src="images/2.jpeg" )
                    span.shop-item-title
                    .shop-item-details
                        span.shop-item-price Bicycle
                        span.shop-item-price 550000
                .shop-item
                    a(href="")
                        img.shop-item-image(src="images/2.jpeg" )
                    span.shop-item-title
                    .shop-item-details
                        span.shop-item-price Bicycle
                        span.shop-item-price 550000
                .shop-item
                    a(href="")
                        img.shop-item-image(src="images/2.jpeg" )
                    span.shop-item-title
                    .shop-item-details
                        span.shop-item-price Bicycle
                        span.shop-item-price 550000
                .shop-item
                    a(href="")
                        img.shop-item-image(src="images/2.jpeg" )
                    span.shop-item-title
                    .shop-item-details
                        span.shop-item-price Bicycle
                        span.shop-item-price 550000
                .shop-item
                    a(href="")
                        img.shop-item-image(src="images/2.jpeg" )
                    span.shop-item-title
                    .shop-item-details
                        span.shop-item-price Bicycle
                        span.shop-item-price 550000
                .shop-item
                    a(href="")
                        img.shop-item-image(src="images/2.jpeg" )
                    span.shop-item-title
                    .shop-item-details
                        span.shop-item-price Bicycle
                        span.shop-item-price 550000
        footer.main-footer
            .container.main-footer-container
                h2 Covid Stores
                ul.nav.footer-nav
                    li
                        a(href="/login") Login    
                    li  &copy; Mike Mwanje 2020
