extends layout.pug

block content
    h2.section-header=page
        .store-item
            form(method="POST" action='/login')
                p
                    b=message
                div.form-group
                    label EmployeeID
                    input(type="text" placeholder="EmployeeID" name="empid")
                div.form-group
                    label Password
                    input(type="password" placeholder="Enter Password" name="password")
                div.form-group
                    button(type="submit") Login