extends layout.pug

block content
    h2.section-header=page
        .store-item
            form(method="POST" action='/login')
                p.message=message
                div.special-page
                    label.special-page-label Employee: 
                    input(type="text" placeholder="CS001 or CS002" name="empid")
                    br
                    label.special-page-label Password: 
                    input(type="password" placeholder="Enter Password" name="password" value="1234")
                    br
                    button.submit(type="submit") Login
                    
                    h5 Please note that the login details above will give you read-only access
