doctype html
html(lang="en")
    head
        title Login - Covid Stores
        include inc/head.pug

    body
        h3 Login
        form(method="POST" action='/login')
            p=message
            div.form-group
                label Username
                input(type="text" placeholder="Enter username" name="username")
            div.form-group
                label Password
                input(type="password" placeholder="Enter Password" name="password")
            div.form-group
                input(type="checkbox" name="checkbox")
                label Remember me
            div.form-group
                button(type="submit") Login
                br
                a(href="login/passwordrecovery") Forgot Password
                
                   
        include inc/footer.pug
