doctype html
html(lang="en")
    head
        title Login - Covid Stores
        include includes/head.pug

    body
        main
            h3 Password Recovery
            div Enter your email address and we will send you a link to reset your password.
            form
                div.form-group
                    label.small Email
                    input.form-control(type="email" placeholder="Enter email address")
                div.form-group
                    a.btn(href="/login") Reset Password
                  

        include includes/footer.pug
