#outer {
    border: 1px solid rgb(93, 105, 93);
    margin: 50px;
    padding: 15px;
    padding-top: 0px;
    background-color: rgb(54, 79, 80);
    border-radius: 15px;
}

h2 {
    color: rgb(188, 224, 188);
    font-weight: 1000;
}

#inner {
    border: 1px solid rgb(131, 223, 192);
    background-color: #FFFFFF;
    padding: 7px;
    padding-bottom: 50px;
}

.control, fieldset {
    margin: 6px 0;
}

label {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

#submit {
    background-color: rgb(192, 245, 185);
}