extends ../layouts/manager.pug

block content
    #outer
        h2 Sales Agent Registration:
        #inner
            div
                form(method="POST" action="/manager/registerAgent")
                    fieldset
                        legend Details
                        .control
                            label National ID
                            input(type="text" placeholder="NIN" name="NIN")
                        .control
                            label Employee ID
                            input(type="text" placeholder="Employee ID" name="empid")
                        .control
                            input(type="hidden" name="role" value="Sales Agent")
                                    
                    fieldset
                        legend Bio-data
                        .control
                            label First name
                            input#firstname(type="text" placeholder="First Name" name="fname")
                        .control
                            label Last name
                            input#lastname(type="text" placeholder="Last Name" name="lname")
                        .control
                            label Date of Birth
                            input#dob(type="date" name="dob")
                        .control
                            label Gender
                            select(name="gender")
                                option
                                option
                                    | Male
                                option
                                    | Female
                        .control
                            label Photo
                            input#image(type="file" name="agentPhoto")
                            
                    fieldset
                        legend Contact
                        .control
                            label Telephone
                            input(type="text" placeholder="Telephone" name="telephone")
                        .control
                            label Email
                            input(type="email" placeholder="Email" name="email")
                        .control
                            label Address
                            input(type="text" placeholder="Address" name="address")

                    input#submit(type="submit" value="Submit" onclick="validate()")
                