doctype html
html(lang="en")
    head
        title Agent | #{pageTitle}
        include ../includes/head.pug
    body.sb-nav-fixed
        //Navigation bar
        nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
            a.navbar-brand(href="/") Covid Stores
            // Navbar Search
            form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0(method="GET" action="/agent/search")
                .input-group
                    input.form-control(type="text" placeholder="Search" name="search")
                    .input-group-append
                        button.btn.btn-primary(type="submit")
                            i.fas.fa-search
            // Navbar
            ul.navbar-nav.ml-auto.ml-md-0
                li.nav-item.dropdown
                    a#userDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        i.fas.fa-user.fa-fw
                    .dropdown-menu.dropdown-menu-right(aria-labelledby="userDropdown")
                        a.dropdown-item(href="/logout") Logout
        #layoutSidenav
            //Side bar navigation
            #layoutSidenav_nav
                nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
                    .sb-sidenav-menu
                        .nav
                            .sb-sidenav-menu-heading Core
                            a.nav-link(href="/agent")
                                .sb-nav-link-icon
                                    i.fas.fa-tachometer-alt
                                |                             Dashboard
                            
                            .sb-sidenav-menu-heading Add
                            a.nav-link(href="/agent/addPurchase")
                                .sb-nav-link-icon
                                    i.fas.fa-plus
                                |                             Purchase
                            a.nav-link(href="/agent/clients")
                                .sb-nav-link-icon
                                    i.fas.fa-plus
                                |                             Installment
                            .sb-sidenav-menu-heading View
                            a.nav-link(href="/agent/items")
                                .sb-nav-link-icon
                                    i.fas.fa-table
                                |                             Items
                            a.nav-link(href="/agent/clients")
                                .sb-nav-link-icon
                                    i.fas.fa-table
                                |                             Clients
                            a.nav-link(href="/agent/viewPurchases")
                                .sb-nav-link-icon
                                    i.fas.fa-table
                                |                             Purchases

                    .sb-sidenav-footer
                        .medium Logged in as:
                        |   #{user.fname} #{user.lname}

            
            #layoutSidenav_content

                // The page's main content
                main
                    block content

                include ../includes/footer.pug

        include ../includes/scripts.pug