extends ../layout.pug

block content
    .card.mb-4
        .card-header
            |    Add LTPP item
            .card-body            
            #inner
                div
                    form(method="POST" action="/manager/addItems" enctype="multipart/form-data")
                        fieldset
                            legend Product
                            .control
                                label Image
                                input(type="file" id="photo" name="photo" )
                            .control
                                label Name
                                input(type="text" placeholder="Name" id="name" name="name" )
                            .control
                                label Make
                                input(type="text" placeholder="Make" id="make" name="make" )
                            .control
                                label Serial Number
                                input(type="text" placeholder="Serial Number" id="serialNo" name="serialNo"  )
                            .control
                                label Color
                                input(type="text" placeholder="Color" name="color")
                            .control
                                label Description
                                textarea(placeholder="Enter product Description" name="description", cols="40", rows="2")
                            .control
                                label Category
                                select(id="category" name="category")
                                    option Select Category
                                    option
                                        | Furniture
                                    option
                                        | Fitness Kits and Machinery
                                    option
                                        | TV Sets
                                    option
                                        | Home Theaters
                                    option
                                        | Others

                        fieldset
                            legend Details
                            .control
                                label Date of Entry
                                input(type="date" id="DOE" name="DOE")
                            .control
                                label Number in Stock
                                input(type="number" placeholder="Number in Stock" id="numberInStock" name="numberInStock" )
                            .control
                                label Price
                                input(type="number" placeholder="Price" id="price" name="price" )
                            .control
                                label Initial Pay
                                input(type="number" placeholder="Initial Pay" id="initialPay" name="initialPay" )
                            .control
                                label Pay Interval
                                input(type="number" placeholder="Interval" id="payInterval" name="payInterval" )

                        input#submit(type="submit" value="Submit" onmouseover="validate()")
                        p#error
                    